
*{

}


.mainBG{
    background-color: #634beb;
}

.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0.35em;
    background-color: #826fff;
    box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.075)!important;
    transition: 0.35s;
    
}
.tile:hover{
    scale: 1.07;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.155)!important;

}

.tileBG{
    background-color: #7964ff;
    width: fit-content;

}

.clicked{
    transition: 0.2;
    background-color: #ffb732cb;
}

.matched{
    transition: 0.2;
    background-color: #c0ff61bf;
}

.not-matched{
    transition: 0.2;
    background-color: #ff4545d9;
}

.playAgainBtn{
    background-color: #7964ff;
    border: none;
    transition: 0.2s;
    color: rgb(43, 43, 43);
}

.playAgainBtn:hover{
    background-color: #7964ff;
    scale: 1.05;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.155)!important;

}

.titleText{
    color: rgb(19, 19, 19);

}

.scoreText{
    background-color: #7964ff;
    width: fit-content;
}
