@font-face {
    font-family: 'arcade';
    /* Name your font family */
    src: url('arcadeFont.ttf');
    /* Locate the .ttf file within your directory*/
}

@font-face {
    font-family: 'steve';
    /* Name your font family */
    src: url('Steve.ttf');
    /* Locate the .ttf file within your directory*/
}


.mainBG {
    background-color: #293A80;
}


.titleText2 {
    color: #F39422;
    font-family: "arcade", sans-serif;
    font-size: 50px;
}

.gameCard {
    position: relative;
    background-color: #005aa900;
    aspect-ratio: 1/0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    transition: 0.2s;
    color: #F39422;
    font-family: "steve", sans-serif;

}


.gameCard:hover{

    scale: 1.1;
}


.gameImg {
    width: 70%;
    aspect-ratio: 1/1;
}


.gameText {
    display: block;
}


@media only screen and (max-width: 800px) {
    .titleText2 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 400px) {
    .titleText2 {
        font-size: 30px;
    }
}


