.mainBG {
    background-color: #00213d;
}

.titleText {
    color: rgb(51, 129, 208);
}

.gameCard {
    position: relative;
    background-color: #005aa900;
    aspect-ratio: 1/0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    transition: 0.2s;

}




.gameImg {
    width: 70%;
    aspect-ratio: 1/1;
}

.gameText {
    color: rgb(51, 129, 208);
    display: block;
    font-size: 150%;
}

@media only screen and (min-width: 1135px) {
    .gameText {
        font-size: 115%;
    }
}

@media only screen and (max-width: 470px) {
    .gameText {
        font-size: 115%;
    }
}

@media only screen and (max-width: 350px) {
    .gameText {
        font-size: 100%;
    }
}

