.mainBG {
    background-color: rgb(0, 75, 90)
}

.board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

.board-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 75, 90);
}